# Instructions: Copy the contents of this file and place them in a 
# new file called '.env' in the same location as this file. Then fill out all the details.
APP_SECRET="" # Used for JWT

MONGODB_HOST="" # Mongodb host url, will be localhost for local installation
MONGODB_PORT="" # Port for mongodb default is 27017
MONGODB_NAME="" # Name of the database
MONGODB_USER="" # The user who is the owner for above database
MONGODB_PASSWORD="" # The password for above user
